<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.swmc">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SWMC">
        <activity
            android:name=".Supervisor.OnDuty"
            android:exported="false"
            android:parentActivityName=".Supervisor.SupervisorDashBoard"
            />
        <activity
            android:name=".User.ItemDetails"
            android:exported="false"
            android:parentActivityName=".User.UserDashboard" />
        <activity
            android:name=".Supervisor.SupervisorNotifications"
            android:exported="false" />
        <activity
            android:name=".Supervisor.SupervisorDashBoard"
            android:exported="false" />
        <activity
            android:name=".User.UserNotifications"
            android:exported="false" />
        <activity
            android:name=".User.UserDashboard"
            android:exported="false" />
        <activity
            android:name=".Administrator.AddNotifications"
            android:exported="false"
            android:parentActivityName=".Administrator.Notifications"/>
        <activity
            android:name=".Administrator.AddUser"
            android:exported="false"
            android:parentActivityName=".Administrator.Users"/>
        <activity
            android:name=".Administrator.Users"
            android:exported="false" />
        <activity
            android:name=".Administrator.Notifications"
            android:exported="false" />
        <activity
            android:name=".Administrator.DashBoard"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>